<div id='comment' class='well'>
  <div class='row'>
    <div class='col-xs-10'>
      {{profile-link profile=comment.author}}
      <div class='created-at'>({{moment-from-now comment.created_at}})</div>
    </div>

    <div class='col-xs-2 utils'>
      {{#unless isUpdating}}
        {{#if isAbleToUpdate}}
          <span {{action 'toggle_update_comment' comment}} class="icon-pencil">
            <div class='alt'>{{t 'edit'}}</div>
          </span>
        {{/if}}
      {{/unless}}

      {{#if isAbleToDelete}}
        <span {{action 'delete_comment' comment}} class="icon-remove">
          <div class='alt'>{{t 'remove'}}</div>
        </span>
      {{/if}}
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      {{#if isUpdating}}
        <form>
          {{validated-input value=comment.message errors=errors.comment.message}}

          <div class='align-right inline-block'>
            <div>
              <span {{action 'cancel_update'}} class="btn-red">
                {{t 'cancel'}}
              </span>
            </div>
            <div>
              {{dynamic-submit actionOnSubmit="update_comment"}}
            </div>
          </div>
        </form>
      {{else}}
        <div>{{comment.message}}</div>
      {{/if}}
      {{sub-comments-list comment=comment}}
    </div>
  </div>
</div>
