<div class='well'>
  <div class='row'>
    <div class='col-lg-11'>
      {{profile-link profile=comment.author}}
    </div>

    <div class='col-lg-1 align-right'>
      {{#unless isUpdating}}
        {{#if isOwner}}
          <span {{action 'toggle_update_comment' comment}} class="glyphicon glyphicon-pencil"></span>
        {{/if}}
      {{/unless}}

      {{#if canDelete}}
        <span {{action 'delete_comment' comment}} class="glyphicon glyphicon-remove"></span>
      {{/if}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12'>
      {{#if isUpdating}}
        <form>
          {{validated-input value=comment.message errors=errors.comment.message}}

          <div class='align-right inline-block'>
            <div>
              <button {{action 'cancel_update'}} class="btn btn-danger">
                Cancel
              </button>
            </div>
            <div>
              {{dynamic-submit actionOnSubmit="update_comment"}}
            </div>
          </div>
        </form>
      {{else}}
        <div>{{comment.message}}</div>
      {{/if}}
    </div>
  </div>
</div>
