<div class='categories'>
  <span class='icon-tags'></span>
  <b>{{category}}</b>,
  <span>{{t 'categories.ambiance'}}</span>
  <b>{{ambiance}}</b>,
  <span>{{t 'categories.level'}}</span>
  <b>{{level}}</b>
</div>
