{{#if hasFailed}}
  <button {{action 'submit'}} class="btn btn-warning">
    {{t 'submit.retry'}}
  </button>
  {{t errorMessage}}
{{else}}
  <button {{action 'submit'}} class="btn-submit" disabled={{isSaving}}>
    {{#if isSaving}}
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    {{else if isSaved}}
      <span class="glyphicon glyphicon-ok"></span>
    {{else if submitLabel}}
      {{t submitLabel}}
    {{else}}
      {{t 'submit.ok'}}
    {{/if}}
  </button>
{{/if}}
