<form autocomplete="false">
  <div class='row'>
    <div class='col-lg-12'>
      {{validated-input label="label.title" placeholder="placeholder.title" value=model.title serverErrors=model.errors.title errors=errors.model.title}}
    </div>
  </div>

  <div class='row capacity'>
    <div class='col-lg-4'>
      <div>{{validated-input label='label.min-capacity' placeholder="placeholder.min-capacity" value=model.min_capacity serverErrors=model.errors.min_capacity errors=errors.model.min_capacity}}</div>
    </div>
    <div class='col-lg-4'>
      <div>{{validated-input label='label.capacity' placeholder="placeholder.capacity" value=model.capacity serverErrors=model.errors.capacity errors=errors.model.capacity}}</div>
    </div>
    <div class='col-lg-4 auto-accept'>
      {{t 'event.auto-accept'}} {{input type="checkbox" checked=model.auto_accept}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-4'>
      {{validated-select label="label.category" options=categories value=model.category serverErrors=model.errors.category errors=errors.model.category}}
    </div>
    <div class='col-lg-4'>
      {{validated-select label="label.ambiance" options=ambiances value=model.ambiance serverErrors=model.errors.ambiance errors=errors.model.ambiance}}
    </div>
    <div class='col-lg-4'>
      {{validated-select label="label.level" options=levels value=model.level serverErrors=model.errors.level errors=errors.model.level}}
    </div>
  </div>

  <hr>

  {{#if showDate}}
    <div class='row'>
      <div class='col-lg-12'>
        {{#unless alreadyCreated}}{{radio-button value='normal' checked=model.event_type}}{{/unless}}
        <label>{{t 'label.date'}}</label>
      </div>
    </div>

    <div class='row'>
      <div class='col-lg-6'>
        {{validated-date placeholder="placeholder.date" value=model.begin_at errors=errors.model.begin_at disabled=(eq model.event_type 'flexible')}}
      </div>
      <div class='col-lg-3'>
        {{validated-select options=hours value=begin_at_hour errors=errors.begin_at_hour disabled=(eq model.event_type 'flexible')}}
      </div>
      <div class='col-lg-3'>
        {{validated-select options=minutes value=begin_at_minute errors=errors.begin_at_minute disabled=(eq model.event_type 'flexible')}}
      </div>
    </div>

    <div class='row'>
      <div class="col-lg-12 {{if (eq model.event_type 'flexible') 'disabled'}}">
        {{t 'event.add-end-date'}} {{input type="checkbox" checked=addEndDate disabled=(eq model.event_type 'flexible')}}
      </div>
    </div>

    {{#if addEndDate}}
      <div class='row'>
        <div class='col-lg-12'>
          <label class="{{if (eq model.event_type 'flexible') 'disabled'}}">{{t 'label.end-date'}}</label>
          {{#if showCustomError}}
            <span class='error'>{{errors.end_at}}</span>
          {{/if}}
        </div>
      </div>

      <div class='row'>
        <div class='col-lg-6'>
          {{validated-date placeholder="placeholder.date" value=model.end_at errors=errors.model.end_at disabled=(eq model.event_type 'flexible')}}
        </div>
        <div class='col-lg-3'>
          {{validated-select options=hours value=end_at_hour errors=errors.end_at_hour disabled=(eq model.event_type 'flexible')}}
        </div>
        <div class='col-lg-3'>
          {{validated-select options=minutes value=end_at_minute errors=errors.end_at_minute disabled=(eq model.event_type 'flexible')}}
        </div>
      </div>
    {{/if}}

    <hr>
  {{/if}}

  {{#if showDateFlexible}}
    <div class='row'>
      <div class='col-lg-12'>
        {{#unless alreadyCreated}}{{radio-button value='flexible' checked=model.event_type}}{{/unless}}
        <label>{{t 'label.date-flexible'}}</label>
      </div>
    </div>

    {{#if alreadyCreated}}
      <div class='see-time-slots'>
        <div>{{t 'is-flexible'}}</div>
        <div class='goto'>{{t 'see-time-slots'}}</div>
      </div>
    {{else if (eq model.event_type 'flexible')}}
      <div>{{t 'event-date-flexible'}}</div>
      <div>
        {{#if showCustomError}}
          <span class='error'>{{errors.model.new_time_slots}}</span>
        {{/if}}
      </div>
      {{#each time_slots as |time_slot|}}
        <div class='row'>
          <div class='col-lg-6'>
            {{validated-date placeholder=time_slot.placeholder value=time_slot.date}}
          </div>
          <div class='col-lg-3'>
            {{validated-select options=hours value=time_slot.hour}}
          </div>
          <div class='col-lg-3'>
            {{validated-select options=minutes value=time_slot.minute}}
          </div>
        </div>
      {{/each}}
    {{/if}}

    <hr>
  {{/if}}

  <div class='row'>
    <div class='col-lg-12'>
      {{validated-textarea rows="2" maxlength=140 label="label.short-description" value=model.short_description serverErrors=model.errors.short_description errors=errors.model.short_description}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12'>
      {{validated-textarea rows="7" label="label.description" value=model.description serverErrors=model.errors.description errors=errors.model.description}}
    </div>
  </div>

  <hr>

  <div class='row'>
    <div class='col-lg-12'>
      {{validated-input label="label.street" placeholder="placeholder.street" value=model.street serverErrors=model.errors.street errors=errors.model.street name='street'}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-4'>
      {{validated-input label="label.postcode" placeholder="placeholder.postcode" value=model.postcode serverErrors=model.errors.postcode errors=errors.model.postcode name='postcode'}}
    </div>
    <div class='col-lg-4'>
      {{validated-input label="label.city" placeholder="placeholder.city" value=model.city serverErrors=model.errors.city errors=errors.model.city name='city'}}
    </div>
    <div class='col-lg-4'>
      {{validated-input label="label.country" placeholder="placeholder.country" value=model.country serverErrors=model.errors.country errors=errors.model.country name='country'}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12'>
      <div class='align-right'>{{dynamic-submit actionOnSubmit="save_event"}}</div>
    </div>
  </div>
</form>
