<form>
  <div class='row'>
    <div class='col-lg-12'>
      {{validated-input label="Title" placeholder="Enter title" value=model.title serverErrors=model.errors.title errors=errors.model.title}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-6 inline-block'>
      <div class='capacity'>Capacity: </div>
      <div>{{validated-input placeholder="Enter capacity" value=model.capacity serverErrors=model.errors.capacity errors=errors.model.capacity}}</div>
    </div>
    <div class='col-lg-6'>
      Validation automatique: {{input type="checkbox" checked=model.auto_accept}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-4'>
      {{validated-select label="Category" options=categories value=model.category serverErrors=model.errors.category errors=errors.model.category}}
    </div>
    <div class='col-lg-4'>
      {{validated-select label="Ambiance" options=ambiances value=model.ambiance serverErrors=model.errors.ambiance errors=errors.model.ambiance}}
    </div>
    <div class='col-lg-4'>
      {{validated-select label="Level" options=levels value=model.level serverErrors=model.errors.level errors=errors.model.level}}
    </div>
  </div>

  <div class='row'>
    <div class='begin-at col-lg-12'>
      <label>Date</label>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-6'>
      {{validated-date placeholder="Pick date" value=model.begin_at errors=errors.model.begin_at}}
    </div>
    <div class='col-lg-3'>
      {{validated-input placeholder="Enter hour" value=begin_at_hour errors=errors.begin_at_hour}}
    </div>
    <div class='col-lg-3'>
      {{validated-input placeholder="Enter minute" value=begin_at_minute errors=errors.begin_at_minute}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12'>
      {{validated-textarea rows="2" maxlength=140 label="Short description" value=model.short_description serverErrors=model.errors.short_description errors=errors.model.short_description}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12'>
      {{validated-textarea rows="7" label="Description" value=model.description serverErrors=model.errors.description errors=errors.model.description}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12'>
      {{validated-input label="Street" placeholder="Enter street" value=model.street serverErrors=model.errors.street errors=errors.model.street name='street'}}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-4'>
      {{validated-input label="Postcode" placeholder="Enter postcode" value=model.postcode serverErrors=model.errors.postcode errors=errors.model.postcode name='postcode'}}
    </div>
    <div class='col-lg-4'>
      {{validated-input label="City" placeholder="Enter city" value=model.city serverErrors=model.errors.city errors=errors.model.city name='city'}}
    </div>
    <div class='col-lg-4'>
      {{validated-input label="Country" placeholder="Enter country" value=model.country serverErrors=model.errors.country errors=errors.model.country name='country'}}
    </div>
  </div>

  <!-- {{validated-date label="End at" placeholder="Pick date" value=model.end_at errors=errors.model.end_at}}
  {{validated-input label="Hour" placeholder="Enter hour" value=end_at_hour errors=errors.end_at_hour}}
  {{validated-input label="Minute" placeholder="Enter minute" value=end_at_minute errors=errors.end_at_minute}} -->

  <!-- <input type='date' class="form-control"/> -->

  <div class='row'>
    <div class='col-lg-12'>
      <div class='submit'>{{dynamic-submit actionOnSubmit="save_event"}}</div>
    </div>
  </div>
</form>
