<div id='update-avatar'>
  <div id='crop-avatar' class='well'>
    <div class='row'>
      <div class='col-lg-11'>
        {{file-input fileChanged="fileSelectionChanged"}}
      </div>
      <div class='col-lg-1'>
        <span {{action 'cancel'}} class="icon-remove"></span>
      </div>
    </div>

    <div class='row'>
      <div class='col-lg-12 crop-box'>
        {{#if displayCropper}}
          {{avatar-cropper image=file.dataURL profile=profile}}
        {{else if loadImage}}
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        {{else if wrongFormat}}
          <i>{{t 'avatar.wrong-format'}}</i>
        {{else}}
          <i>{{t 'avatar.empty'}}</i>
        {{/if}}
      </div>
    </div>
  </div>
  <div id='shadow'></div>
</div>
