<div id='infos-bar'>
  {{#unless session.isAuthenticated}}
    <div class='well'>
      <div>{{t 'tips.register'}}</div>
      {{#link-to 'registration' class='goto'}}<div class='goto-btn'>{{t 'navigation.registration'}}</div>{{/link-to}}
    </div>
  {{else unless currentUser.profile.short_description}}
    <div class='well'>
      <div>{{t 'tips.short-description'}}</div>
      {{#link-to 'account.profile' class='goto'}}<div class='goto-btn'>{{t 'navigation.profile'}}</div>{{/link-to}}
    </div>
  {{else unless currentUser.profile.avatar_url}}
    <div class='well'>
      <div>{{t 'tips.avatar'}}</div>
      {{#link-to 'account.profile' class='goto'}}<div class='goto-btn'>{{t 'navigation.profile'}}</div>{{/link-to}}
    </div>
  {{else unless currentUser.phone_number}}
    <div class='well'>
      <div>{{t 'tips.phone-number'}}</div>
      {{#link-to 'account.personnal-information' class='goto'}}<div class='goto-btn'>{{t 'add'}}</div>{{/link-to}}
    </div>
  {{else unless currentUser.email_verified}}
    <div class='well'>
      <div>{{t 'tips.email-verification'}}</div>
      {{#link-to 'account.verifications' class='goto'}}<div class='goto-btn'>{{t 'verify'}}</div>{{/link-to}}
    </div>
  {{else unless currentUser.phone_number_verified}}
    <div class='well'>
      <div>{{t 'tips.phone-number-verification'}}</div>
      {{#link-to 'account.verifications' class='goto'}}<div class='goto-btn'>{{t 'verify'}}</div>{{/link-to}}
    </div>
  {{/unless}}

  {{#if infos.hosted_events}}
    <div class='well'>
      <label>{{t 'infos.hosted-events'}}</label>
      <div class="line-separator"></div>
      {{#each infos.hosted_events as |event|}}
        {{#link-to 'event' event class='event'}}
          <div>
            <div>
              <span class={{if event.ready 'ready'}}>{{event.title}}</span>
              {{#if event.hasPendingSubmissions}}
                <span class='glyphicon glyphicon-alert warning'>{{event.pendingSubmissionsCount}}</span>
              {{/if}}
            </div>
            <div class='begin_at'>({{moment-from-now event.begin_at}})</div>
          </div>
        {{/link-to}}
      {{/each}}
      {{#link-to 'account.hosted-events' class='goto'}}<div class='goto-btn'>{{t 'see-all'}}</div>{{/link-to}}
    </div>
  {{/if}}

  {{#if infos.submissions}}
    <div class='well'>
      <label>{{t 'infos.attended-events'}}</label>
      <div class="line-separator"></div>
      {{#each infos.submissions as |submission|}}
        {{#link-to 'event' submission.event class='event'}}
          <div>
            <div class={{submission.status}}>{{submission.event.title}}</div>
            <div class='begin_at'>({{moment-from-now submission.event.begin_at}})</div>
          </div>
        {{/link-to}}
      {{/each}}
      {{#link-to 'account.attended-events' class='goto'}}<div class='goto-btn'>{{t 'see-all'}}</div>{{/link-to}}
    </div>
  {{/if}}

  {{#unless hide_events_nearby}}
    <div class='well'>
      <label>{{t 'infos.nearby-events'}}</label>
      <div class="line-separator"></div>
      {{#each infos.events as |event|}}
        {{#link-to 'event' event.objectID class='event'}}
          <div>
            <div>{{event.title}}</div>
            {{#if event.flexible}}
              <div class='begin_at'>({{t 'date-flexible-from-sm'}} {{moment-format event.begin_at_range.min 'DD MMMM'}})</div>
            {{else}}
              <div class='begin_at'>({{moment-from-now event.begin_at}})</div>
            {{/if}}
          </div>
        {{/link-to}}
      {{/each}}
      {{#link-to 'search' class='goto'}}<div class='goto-btn'>{{t 'see-more'}}</div>{{/link-to}}
    </div>
  {{/unless}}

  {{#if infos.last_achievement}}
    <div class='well'>
      <label>{{t 'infos.last-achievement'}}</label>
      <div class="line-separator"></div>
      <div>{{infos.last_achievement}}</div>
      {{#link-to 'account.achievements' class='goto'}}<div class='goto-btn'>{{t 'see-all'}}</div>{{/link-to}}
    </div>
  {{/if}}
</div>
