<div {{action 'transition_to'}} class="notification {{if notification.viewed 'viewed'}}">
  <div class="avatar">
    {{avatar-display notification.action.actor}}
  </div>
  <div class="content">
    <span class="actor">{{notification.action.actor.display_name}}</span>
    {{t notification.type}}
    <span class="title">"{{notification.action.title}}"</span>
  </div>
</div>
