<div {{action "retrieve_notifications"}} id='notifications-button'>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
    {{#if newNotifications}}
      <span class="notification-count">
        {{notifications.notifications_count}}
      </span>
    {{/if}}
  </span>
</div>

{{#if showNotifications}}
  <div id='notifications' class="well">
    {{#each list as |notification|}}
      {{notification-display notification=notification}}
    {{else}}
      <div class='notification'>
        {{t 'notifications.box.empty'}}
      </div>
    {{/each}}
    {{#link-to 'account.notifications'}}
      <div class='notification expand'>
        {{t 'notifications.box.expand'}}
      </div>
    {{/link-to}}
  </div>
{{/if}}
