<button {{action "retrieve_notifications"}} id='notifications-button'>
  {{#if newNotifications}}
    <span class="glyphicon glyphicon-exclamation-sign newNotifications" aria-hidden="true"></span>
    {{notifications.notifications_count}}
  {{else}}
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  {{/if}}
</button>

{{#if showNotifications}}
  <div id='notifications' class='well'>
    {{#each list as |notification|}}
      {{notification-display notification=notification}}
    {{else}}
      <div class='notification'>
        {{t 'notifications.box.empty'}}
      </div>
    {{/each}}
    {{#link-to 'account.notifications'}}
      <div class='notification'>
        {{t 'notifications.box.expand'}}
      </div>
    {{/link-to}}
  </div>
{{/if}}
