<div {{action 'transition_to'}} class="notification {{if notification.viewed 'viewed'}}">
  <div class="avatar">
    {{avatar-display profile=notification.action.actor}}
  </div>
  <div class="content">
    {{#if no_actor}}
      <span class="title">"{{notification.action.title}}"</span>
      {{t notification.type}}
    {{else}}
      {{#if notification.action.actor.moderator}}
        <span class="actor moderator">{{notification.action.actor.display_tag}}</span>
      {{else}}
        <span class="actor">{{notification.action.actor.display_tag}}</span>
      {{/if}}
      {{t notification.type}}
      <span class="title">"{{notification.action.title}}"</span>
    {{/if}}
  </div>
</div>
