<div {{action 'transition_to'}} class="well notification {{if notification.viewed 'viewed'}}">
  {{notification.action.actor.display_name}}
  {{notification.type}}
  {{notification.action.title}}
</div>
