<div class='attendees'>
  <span class='capacity'>
    {{#if event.unlimited_capacity}}
      <div class='attendees-count'>
        {{attendeesCount}}
        <span class='icon-player'></span>
      </div>
      <div class='min-max'>{{t 'unlimited-capacity'}}</div>
    {{else}}
      {{#if event.flexible}}
        <div class='attendees-count'>
          {{minCapacity}} {{t 'to'}} {{capacity}}
          <span class='icon-player'></span>
        </div>
      {{else}}
        <div class='attendees-count'>
          {{attendeesCount}}
          <span class='icon-player'></span>
        </div>
        <div class='min-max'>
          {{minCapacity}} {{t 'to'}} {{capacity}}
        </div>
      {{/if}}
    {{/if}}
  </span>
</div>
