<div class='well'>
  {{#if profile.nickname}}
    <b>{{profile.nickname}}</b>
    <div>{{profile.display_name}}</div>
  {{else}}
    <b>{{profile.display_name}}</b>
  {{/if}}

  {{#if profile.avatar_url}}
    <img src='{{profile.avatar_url}}'>
  {{else}}
    <img src='/assets/images/anonyme.jpeg'>
  {{/if}}

  <div>Member since {{moment-from-now profile.created_at}}</div>
  <div>{{profile.short_description}}</div>
  <div>Email verified: {{profile.email_verified}}</div>
  <div>Phone number verified: {{profile.phone_number_verified}}</div>
  <div>{{profile.description}}</div>
</div>
