<div class='well'>
  <div class='row'>
    <div class='col-lg-8'>
      {{#if profile.nickname}}
        <b>{{profile.nickname}}</b>
        <span>({{profile.display_name}})</span>
      {{else}}
        <b>{{profile.display_name}}</b>
      {{/if}}
      <div><i>Member since {{moment-from-now profile.created_at}}</i></div>
      <div class='margin-top'>{{profile.short_description}}</div>
      <div class='margin-top'>
        <span>
          Email verified
          {{#if profile.email_verified}}
            <span class='glyphicon glyphicon-ok'></span>
          {{else}}
            <span class='glyphicon glyphicon-remove'></span>
          {{/if}}
        </span>
        <span>
          Phone number verified
          {{#if profile.phone_number_verified}}
            <span class='glyphicon glyphicon-ok'></span>
          {{else}}
            <span class='glyphicon glyphicon-remove'></span>
          {{/if}}
        </span>
      </div>
    </div>
    <div class='col-lg-4'>
      {{#if profile.avatar_url}}
        <img class='profile-avatar' src='{{profile.avatar_url}}'>
      {{else}}
        <img class='profile-avatar' src='/assets/images/anonyme.jpeg'>
      {{/if}}
    </div>
  </div>

  <div class='row margin-top'>
    <div class='col-lg-12'>
      <div>{{profile.description}}</div>
    </div>
  </div>
</div>
