<div class='well'>
  <div class='row'>
    <div class='col-lg-8'>
      {{name-display profile=profile}}
      <div><i>Member since {{moment-from-now profile.created_at}}</i></div>
      <div class='margin-top'>{{profile.short_description}}</div>
      <div class='margin-top'>
        <div>
          Email verified
          {{#if profile.email_verified}}
            <span class='icon-ok'></span>
          {{else}}
            <span class='glyphicon glyphicon-remove'></span>
          {{/if}}
        </div>
        <div>
          Phone number verified
          {{#if profile.phone_number_verified}}
            <span class='icon-ok'></span>
          {{else}}
            <span class='glyphicon glyphicon-remove'></span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class='col-lg-4'>
      {{avatar-display profile=profile}}
    </div>
  </div>

  <div class='row margin-top'>
    <div class='col-lg-12'>
      <div>{{profile.description}}</div>
    </div>
  </div>
</div>
