<div class='well'>
  {{#if profile.nickname}}
    <b>{{profile.nickname}}</b>
    <div>{{profile.display_name}}</div>
  {{else}}
    <b>{{profile.display_name}}</b>
  {{/if}}

  {{#if profile.avatar_url}}
    <img class='profile-avatar' src='{{profile.avatar_url}}'>
    <button {{action 'update_avatar'}} class="btn btn-success">
      Modify avatar
    </button>
  {{else}}
    <img class='profile-avatar' src='/assets/images/anonyme.jpeg'>
    <button {{action 'update_avatar'}} class="btn btn-success">
      Add avatar
    </button>
  {{/if}}

  {{#if updateAvatar}}
    <div id='update-avatar'>
      <div class='avatar well'>
        {{image-input profile=profile}}
      </div>
      <div class='toto'></div>
    </div>
  {{/if}}

  <div>Member since {{moment-from-now profile.created_at}}</div>
  <div>{{profile.short_description}}</div>
  <div>Email verified: {{profile.email_verified}}</div>
  <div>Phone number verified: {{profile.phone_number_verified}}</div>
  <div>{{profile.description}}</div>
</div>
