<form>
  {{validated-input label="Email" placeholder="Enter email" value=model.email serverErrors=model.errors.email errors=errors.model.email}}
  {{validated-input label="Firstname" placeholder="Enter firstname" value=model.first_name serverErrors=model.errors.first_name errors=errors.model.first_name}}
  {{validated-input label="Lastname" placeholder="Enter lastname" value=model.last_name serverErrors=model.errors.last_name errors=errors.model.last_name}}

  <div class="form-group col-sm-12">
    <label class="col-sm-12">Birthday</label>
    <div class="col-sm-4">{{validated-input placeholder="day" value=day errors=errors.day}}</div>
    <div class="col-sm-4">
      {{validated-select options=months placeholder=monthPlaceHolder value=month errors=errors.month}}
    </div>
    <div class="col-sm-4">{{validated-input placeholder="year" value=year errors=errors.year}}</div>
  </div>
  {{birthday_error}}

  {{validated-input label="Phone number" placeholder="Enter phone number" value=model.phone_number serverErrors=model.errors.phone_number errors=errors.model.phone_number}}
  {{validated-select label="Language" options=cultures value=model.culture serverErrors=model.errors.culture errors=errors.model.culture}}

  {{validated-input label="Password" type="password" placeholder=passwordPlaceHolder value=password serverErrors=passwordErrors errors=errors.password}}

  {{dynamic-submit actionOnSubmit="save_user"}}
</form>
