{{#if label}}
  <label>{{translatedLabel}}</label>
{{/if}}
<select {{action 'changeValue' on='change' on='focusOut'}} class="form-control validated-select {{if showErrors 'show-errors'}}">
  {{#if placeholder}}
    <option value="">{{translatedPlaceholder}}</option>
  {{/if}}
  {{#each options as |option|}}
    <option value={{option}} selected={{eq value option}}>
      {{option}}
    </option>
  {{/each}}
</select>
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
