{{#if label}}
  <label>{{t label}}</label>
{{/if}}
<select {{action 'changeValue' on='change' on='focusOut'}} class="form-control validated-select {{if showErrors 'show-errors'}}">
  {{#if placeholder}}
    <option value="">{{translatedPlaceholder}}</option>
  {{/if}}
  {{#each options as |option|}}
    <option value={{option.value}} selected={{eq value option.value}}>
      {{t option.label}}
    </option>
  {{/each}}
</select>
{{#if showErrors}}
  {{displayErrors}}
{{/if}}
