<div id='achievements'>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.early-registration'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.early-registration'}}</div>
    </div>
    {{#if earlyRegistration}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
  <hr>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.first-feedback'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.first-feedback'}}</div>
    </div>
    {{#if firstFeedback}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
  <hr>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.early-event'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.early-event'}}</div>
    </div>
    {{#if earlyEvent}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
  <hr>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.verified-profile'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.verified-profile'}}</div>
    </div>
    {{#if verifiedProfile}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.first-invitation'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.first-invitation'}}</div>
    </div>
    {{#if firstInvitation}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.first-flexible-event'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.first-flexible-event'}}</div>
    </div>
    {{#if firstFlexibleEvent}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.first-unlimited-event-capacity'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.first-unlimited-event-capacity'}}</div>
    </div>
    {{#if firstUnlimitedEventCapacity}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
  <div class='achievement'>
    <div>
      <div>{{t 'achievement.first-recurrent-event'}}</div>
      <div class='condition'>{{t 'achievement.granted-by'}} {{t 'achievement.condition.first-recurrent-event'}}</div>
    </div>
    {{#if firstRecurrentEvent}}
      <span class='ok'></span>
    {{else}}
      <span class='no'></span>
    {{/if}}
  </div>
</div>
