<div id="attended-events">
  <div class='row tabs'>
    <div class='col-xs-12 col-md-4'>
      <span class={{if (eq eventsType 'opened') 'tab opened' 'tab'}} {{action 'toggleOpenedEvents'}}>{{t 'events.opened'}}</span>
    </div>
    <div class='col-xs-12 col-md-4'>
      <span class={{if (eq eventsType 'closed') 'tab opened' 'tab'}} {{action 'toggleClosedEvents'}}>{{t 'events.closed'}}</span>
    </div>
    <div class='col-xs-12 col-md-4'>
      <span class={{if (eq eventsType 'flexible') 'tab opened' 'tab'}} {{action 'toggleFlexibleEvents'}}>{{t 'events.flexible'}}</span>
    </div>
  </div>
  {{#each model as |submission|}}
    {{#if displayFlexibles }}
      {{display-account-event event=submission.time_slot.event status='flexible'}}
    {{else}}
      {{display-account-event event=submission.event status=submission.status}}
    {{/if}}
  {{else}}
    <div class="well">
      <div class='no-event'>
        {{t emptyLabel}}
      </div>
      <hr>
      <div class='create'>
        {{#link-to 'search' class='goto'}}{{t 'navigation.search'}}{{/link-to}}
      </div>
    </div>
  {{/each}}
</div>
