<div id='change-password'>
  {{#if updated}}
    <div class='updated'>
      {{t 'password.updated'}}
    </div>
  {{/if}}

  <div class='well'>
    <form>
      {{validated-input label="account.password.current.label" placeholder="account.password.current.placeholder" type="password" value=model.current_password serverErrors=model.errors.current_password errors=errors.model.current_password}}
      {{validated-input label="account.password.new.label" placeholder="account.password.new.label" type="password" value=model.password serverErrors=model.errors.password errors=errors.model.password}}
      {{validated-input label="account.password.confirm.label" placeholder="account.password.confirm.label" type="password" value=model.confirm_password serverErrors=model.errors.confirm_password errors=errors.model.confirm_password}}

      {{dynamic-submit actionOnSubmit="change_password"}}
    </form>
  </div>
</div>
