<div id="hosted-events">
  {{#each model as |event|}}
    <div class="hit">
      {{#link-to 'event' event}}
        <div class='row head'>
          <div class='col-xs-12 col-md-6'>
            <h3 class='confirmed'>{{event.title}}</h3>
          </div>
          <div class='col-xs-12 col-md-6'>
            <div class="details">
              <div class="date">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{moment-format event.begin_at 'DD MMMM'}}
              </div>
              <div class="time">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{moment-format event.begin_at 'HH:mm'}}
              </div>
              <div class="place">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                {{capitalize event.city}}
              </div>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12 col-md-8'>
            <div class='description'>
             {{event.short_description}}
            </div>
            {{display-categories event=event}}
            <div class='host'>
              <span class='avatar-small'>
                {{avatar-display profile=event.host}}
              </span>

              <span>{{name-display profile=event.host}}</span>
            </div>
            <div class='pending-submission'>
              {{#if event.hasPendingSubmissions}}
                <span class='some'>{{t 'submissions.count' count=event.pendingSubmissionsCount}}</span>
              {{else}}
                <span class='empty'>{{t 'submissions.empty'}}</span>
              {{/if}}
            </div>
          </div>
          <div class='col-xs-12 col-md-4'>
            <div class="attendees">
              <span class='capacity'>
                {{plus-one count=event.attendees_count}}
                /
                {{plus-one count=event.min_capacity}}
                -
                {{plus-one count=event.capacity}}
                <span class='icon-player'></span>
              </span>
            </div>
          </div>
        </div>
      {{/link-to}}
    </div>
  {{else}}
    <div class="well">
      <div class='no-event'>{{t 'account.hosted-events.empty'}}</div>
      <hr>
      <div class='create'>
        {{#link-to 'events.new' class='goto'}}{{t 'navigation.events'}}{{/link-to}}
      </div>
    </div>
  {{/each}}
</div>
