<div id="hosted-events">
  {{#each model as |event|}}
    <div class="hit">
      {{#link-to 'event' event}}
        <div class='row head'>
          <div class='col-lg-6'>
            <h3 class='confirmed'>{{event.title}}</h3>
          </div>
          <div class='col-lg-6'>
            <div class="details">
              <div class="date">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{moment-format event.begin_at 'DD MMMM'}}
              </div>
              <div class="time">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{moment-format event.begin_at 'hh:mm'}}
              </div>
              <div class="place">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                {{capitalize event.city}}
              </div>
            </div>
          </div>
        </div>

        <div class='row body'>
          <div class='col-lg-9'>
            <div class='description'>
             {{event.short_description}}
            </div>
            <div class='categories'>
              <span class='icon-tags'></span>
              <span>{{event.category}}</span>,
              <span>{{event.ambiance}}</span>, for
              <span>{{event.level}}</span> !
            </div>
            <div class='host'>
              <span class='avatar-small'>
                {{avatar-display profile=event.host}}
              </span>

              <span>{{name-display profile=event.host}}</span>
            </div>
            {{pending-submissions event=event}}
          </div>
          <div class='col-lg-3'>
            <div class="attendees">
              <span>{{plus-one count=event.attendees_count}} / {{plus-one count=event.capacity}}</span>
            </div>
          </div>
        </div>
      {{/link-to}}
    </div>
  {{else}}
    <div class="well">
      <div class='no-event'>{{t 'account.no-event'}}</div>
      <hr>
      <div class='create'>
        {{#link-to 'events.new' class='goto'}}{{t 'navigation.events'}}{{/link-to}}
      </div>
    </div>
  {{/each}}
</div>
