{{#each model as |event|}}
  <div class='well'>
    {{#link-to 'event' event}}
      <div>
        {{event.title}}
      </div>
    {{/link-to}}
    {{event.begin_at}}
    {{event.capctity}}
    {{event.ambiance}}
    {{event.level}}
    {{event.category}}
  </div>
{{/each}}
