{{#each model as |event|}}
  <div class='well'>
    <div class='row margin-bottom'>
      <div class='col-lg-8'>
        {{#link-to 'event' event}}
          <div class='event-title'>{{event.title}}</div>
        {{/link-to}}
        <div>
          {{#if event.short_description}}
            {{event.short_description}}
          {{else}}
            <i>{{t 'event.short-description.empty'}}</i>
          {{/if}}
        </div>
      </div>
      <div class='col-lg-4'>
        <b>{{moment-format event.begin_at}}</b>
        <div>({{moment-from-now event.begin_at}})</div>
        <b>{{t 'event.count' attendees-count=event.attendees_count capacity=event.capacity}}</b>
      </div>
    </div>
    <div class='row'>
      {{pending-submissions event=event}}
    </div>
  </div>
{{/each}}
