<div class='well'>
  {{t 'notifications.preferences'}}
  <form>
    <div class='row'>
      <div class='col-md-4'>
        <div>
          {{input type="checkbox"}}event-submit
        </div>
        <div>
          {{input type="checkbox"}}event-unsubmit
        </div>
        <div>
          {{input type="checkbox"}}event-join
        </div>
      </div>
      <div class='col-md-4'>
        <div>
          {{input type="checkbox"}}event-leave
        </div>
        <div>
          {{input type="checkbox"}}event-update
        </div>
        <div>
          {{input type="checkbox"}}event-cancel
        </div>
      </div>
      <div class='col-md-4'>
        <div>
          {{input type="checkbox"}}event-comment
        </div>
        <div>
          {{input type="checkbox"}}comment-comment
        </div>
      </div>
    </div>
    {{dynamic-submit actionOnSubmit='update_preferences'}}
  </form>
</div>

<div id="notifications-expanded">
  {{#each model as |notification|}}
    {{notification-display notification=notification}}
  {{/each}}
</div>
