<div class='well'>
  <label>{{t 'notifications.preferences'}}</label>
  <form>
    <div class='row'>
      <div class='col-md-4'>
        <div>
          {{input type="checkbox" checked=event_submit}}{{t 'notifications.event-submit'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_unsubmit}}{{t 'notifications.event-unsubmit'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_join}}{{t 'notifications.event-join'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_leave}}{{t 'notifications.event-leave'}}
        </div>
      </div>
      <div class='col-md-4'>
        <div>
          {{input type="checkbox" checked=event_update}}{{t 'notifications.event-update'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_cancel}}{{t 'notifications.event-cancel'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_ready}}{{t 'notifications.event-ready'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_not_ready}}{{t 'notifications.event-not_ready'}}
        </div>
      </div>
      <div class='col-md-4'>
        <div>
          {{input type="checkbox" checked=event_remove_full}}{{t 'notifications.event-remove_full'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_remove_start}}{{t 'notifications.event-remove_start'}}
        </div>
        <div>
          {{input type="checkbox" checked=event_comment}}{{t 'notifications.event-comment'}}
        </div>
        <div>
          {{input type="checkbox" checked=comment_comment}}{{t 'notifications.comment-comment'}}
        </div>
      </div>
    </div>
    {{dynamic-submit actionOnSubmit='update_preferences'}}
  </form>
</div>

<div id="notifications-expanded">
  {{#each model as |notification|}}
    {{notification-display notification=notification}}
  {{/each}}
</div>
