{{#if updated}}
  <div class='updated'>
    {{t 'profile.updated'}}
  </div>
{{/if}}

<div class='well'>
  <form>
    <div class='row'>
      <div class='col-lg-8'>
        {{validated-input label="profile.nickname.label" placeholder="profile.nickname.placeholder" value=model.nickname serverErrors=model.errors.nickname errors=errors.model.nickname}}
        {{validated-textarea rows="3" maxlength=140 label="profile.short-description.label" placeholder="profile.short-description.placeholder" value=model.short_description serverErrors=model.errors.short_description errors=errors.model.short_description}}
      </div>
      <div class='col-lg-4'>
        {{avatar-display profile=model}}

        <div class='center-text'>
          <button {{action 'update_avatar'}} class='update-avatar-button'>
            {{#if model.avatar_url}}
              {{t 'profile.avatar.edit'}}
            {{else}}
              {{t 'profile.avatar.new'}}
            {{/if}}
          </button>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-lg-12'>
        {{validated-textarea rows="7" label="profile.description.label" placeholder="profile.description.placeholder" value=model.description serverErrors=model.errors.description errors=errors.model.description}}
      </div>
    </div>

    {{dynamic-submit actionOnSubmit="update_profile"}}
  </form>
</div>

{{#if updateAvatar}}
  {{image-input profile=model}}
{{/if}}
