<form>
  {{validated-input label="Nickname" placeholder="Enter nickname" value=model.nickname errors=model.errors.nickname showAllErrors=showErrors class="form-group"}}
  {{validated-textarea rows="2" maxlength=140 label="Short description" placeholder="I am a student the day and a wizarrd at night" value=model.short_description errors=model.errors.short_description showAllErrors=showErrors class="form-group"}}
  {{validated-textarea rows="7" label="Description" placeholder="Who you are, games you like, and others shits like that" value=model.description errors=model.errors.description showAllErrors=showErrors class="form-group"}}

  {{model.display_name}}

  {{dynamic-submit actionOnSubmit="update"}}
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
