<div class=well>
  {{#if model.email_verified}}
    {{t 'account.email.verified'}}
  {{else if emailSent}}
    <span class='success'>{{t 'account.email.verify.sent'}}</span>
  {{else}}
    {{t 'account.email.verify'}}
    {{dynamic-submit actionOnSubmit="verify_email"}}
  {{/if}}
</div>

<div class=well>
  {{#if model.phone_number_verified}}
    Your phone number is verified.
  {{else}}
    Verify your phone number now
    {{dynamic-submit actionOnSubmit="verify_phone_number"}}
  {{/if}}
</div>
