<div class='verification'>
  {{#if model.email_verified}}
    {{t 'account.email.verified'}}
    <span class='verified'></span>
  {{else if emailSent}}
    <span class='success'>{{t 'account.email.verification-sent'}}</span>
  {{else}}
    {{t 'account.email.verify'}}
    {{dynamic-submit actionOnSubmit="verify_email" class='verify'}}
  {{/if}}
</div>

<div class='verification'>
  {{#unless model.phone_number}}
    {{t 'account.phone-number.empty'}}
  {{else if model.phone_number_verified}}
    {{t 'account.phone-number.verified'}}
    <span class='verified'></span>
  {{else}}
    {{t 'account.phone-number.verify'}}
    {{dynamic-submit actionOnSubmit="verify_phone_number" class='verify'}}
  {{/unless}}
</div>
