<div id='search' class='col-md-10'>
  <div class='row'>
    <div class='col-lg-3'>
      <div class='well'>
        <ul class="nav nav-pills nav-stacked account-list">
          {{#link-to 'account.dashboard' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.dashboard'}}</a>{{/link-to}}
          {{#link-to 'account.profile' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.profile'}}</a>{{/link-to}}
          {{#link-to 'account.personnal-information' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.personal'}}</a>{{/link-to}}
          {{#link-to 'account.verifications' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.verifications'}}</a>{{/link-to}}
          {{#link-to 'account.change-password' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.password'}}</a>{{/link-to}}
          {{#link-to 'account.hosted-events' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.hosted-events'}}</a>{{/link-to}}
          {{#link-to 'account.notifications' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.notifications'}}</a>{{/link-to}}
          {{#link-to 'account.achievements' tagName='li'}}<a {{bind-attr href='view.href'}}>{{t 'account.navigation.achievements'}}</a>{{/link-to}}
        </ul>
      </div>
    </div>

    <div id='account' class='col-lg-9'>
      {{outlet}}
    </div>
  </div>
</div>

<div class='col-md-2'>
  {{infos-bar}}
</div>
