<div id='verify'>
  {{#if model.alreadyVerified}}
    {{t 'email.already-verified'}}
  {{else if model.verified}}
    <span class='success'>{{t 'email.verified'}}</span>
  {{else}}
    <span class='warning'>{{t 'email.verify-fail'}}</span>
  {{/if}}
  <hr>
  {{#link-to 'account.verifications' class='goto'}}{{t 'navigation.verifications'}}{{/link-to}}
</div>
