<div class='col-md-10'>
  <div class='row'>
    <div class='col-md-3'>
      {{#unless minCapacityReached}}
        <div class='min-capacity'>
          <span class='glyphicon glyphicon-warning-sign'></span>
          {{t 'event.min-attendee' min=minPlayersCount}}
        </div>
      {{/unless}}

      <div class='well'>
        {{#unless model.opened}}
          <div>{{t 'event.closed'}}</div>
        {{else unless isHost}}
          {{#if currentUser.organization}}
            <div>{{t 'event.organization-cant-join'}}</div>
          {{else if pending}}
            <div>{{t 'event.submission.pending'}}</div>
            <div>
              <div {{action 'quit_event'}} class="btn-red full-width">
                {{t 'event.quit'}}
              </div>
            </div>
          {{else if confirmed}}
            {{t 'event.submission.confirmed'}}
            <div>
              <div {{action 'quit_event'}} class="btn-red full-width">
                {{t 'event.quit'}}
              </div>
            </div>
          {{else if full}}
            <div>{{t 'event.full'}}</div>
          {{else if (or isFlexibleMember isNewFlexibleMember)}}
            <div>
              <div>{{t 'event.is-flexible-member'}}</div>
              <div {{action 'show_time_slots'}} class="btn-green full-width">
                {{t 'event.see-my-time_slots'}}
              </div>
            </div>
          {{else if model.flexible}}
            <div>
              <div>{{t 'event.join-flexible'}}</div>
              <div {{action 'show_time_slots'}} class={{if isAbleToEdit 'btn-green full-width margin-bottom' 'btn-green full-width'}}>
                {{t 'event.join'}}
              </div>
            </div>
          {{else}}
            <div {{action 'join_event'}} class={{if isAbleToEdit 'btn-green full-width margin-bottom' 'btn-green full-width'}}>
              {{t 'event.join'}}
            </div>
          {{/if}}
        {{/unless}}

        {{#if isAbleToEdit}}
          {{#link-to 'event.edit'}}
            <div class="event-edit full-width">{{t 'event.edit'}}</div>
          {{/link-to}}
          <div class="clearfix"></div>
          <div {{action 'delete_event'}} class="event-delete full-width">
            {{t 'event.delete'}}
          </div>
        {{/if}}
      </div>

      {{#if model.normal}}
        {{#if (and isHost (not model.auto_accept))}}
          <div class='well'>
            {{#if pendingSubmissions}}
              <b>{{t 'event.pending-submissions'}}</b>
              <div class='line-separator'></div>
            {{else}}
              {{t 'event.empty-pending-submissions'}}
            {{/if}}
            {{#each pendingSubmissions as |submission|}}
              <div class='pending-submission'>
                {{profile-link profile=submission.profile}}
                <div class="accept-submission">
                  <button {{action 'accept_submission' submission}}>
                    <span class='glyphicon glyphicon-ok'></span>
                  </button>
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}
      {{/if}}

      {{#if model.flexible}}
        <div class='well'>
          <b>{{t 'event.date-options'}}</b>
          <div class='line-separator'></div>

          {{#each time_slots as |time_slot index|}}
            <div class='inline-block'>
              <div>{{moment-format time_slot.begin_at 'DD/MM'}} {{t 'at'}} {{moment-format time_slot.begin_at 'HH:mm'}}</div>
              <div class='members-count'>
                {{time_slot.members_count}}
                <span class='icon-player'></span>
              </div>
            </div>
          {{/each}}

          {{#unless currentUser.organization}}
            <div class='time-slots-details'>
              {{#if isHost}}
                <span class='btn-green' {{action 'show_time_slots'}}>{{t 'see-or-choose'}}</span>
              {{else}}
                <span class='details' {{action 'show_time_slots'}}>{{t 'see'}}</span>
              {{/if}}
            </div>
          {{/unless}}
        </div>
      {{/if}}

      {{#unless model.recurrent}}
        {{#if isAbleToInvite}}
          <div class='well'>
            <form>
              {{validated-textarea rows=3 label="label.invitation" placeholder="placeholder.invitation" value=email errors=errors.email}}
              {{#if emailSent}}
                <div class='email-sent'>{{t 'email-sent'}}</div>
              {{else if emailError}}
                <div class='email-error'>{{t 'email-error'}}</div>
              {{/if}}
              {{dynamic-submit actionOnSubmit="send_invitation"}}
            </form>
          </div>
        {{/if}}
      {{/unless}}

      <div class='well'>
        <b>{{t 'event.host'}}</b>
        <div class='line-separator'></div>
        {{profile-link profile=model.host}}
        <div>{{model.host.short_description}}</div>
        {{#unless displayHostContact}}
          {{#if confirmed}}
            <div class="host-contact">
              <button {{action 'display_host_contact'}}>
                <span class='glyphicon glyphicon-envelope'></span>
                <span class='glyphicon glyphicon-earphone'></span>
              </button>
            </div>
          {{/if}}
        {{/unless}}
        {{#if displayHostContact}}
          <div>
            <i>{{model.host.contact.email}}</i>
            <i>{{model.host.contact.phone_number}}</i>
          </div>
        {{/if}}
      </div>

      {{#unless model.recurrent}}
        <div class='well'>
          <b>
            {{#if model.unlimited_capacity}}
              {{t 'event.count' attendees-count=model.attendees.length}}
            {{else}}
              {{t 'event.count-ratio' attendees-count=model.attendees.length capacity=model.capacity}}
            {{/if}}
          </b>
          {{#if model.attendees}}
            <div class='line-separator'></div>
          {{/if}}
          {{#each model.attendees as |attendee|}}
            <div class='attendee'>
              {{attendee-display attendee=attendee isHost=isHost}}
            </div>
          {{/each}}
        </div>
      {{/unless}}

      <div class='well'>
        <b>{{t 'event.location'}}</b>
        <div class='line-separator'></div>
        <div>{{model.street}}</div>
        <div>{{model.postcode}}, {{capitalize model.city}}</div>
        {{#g-map lat=model.latitude lng=model.longitude zoom=14 as |context|}}
          {{g-map-marker context lat=model.latitude lng=model.longitude}}
        {{/g-map}}
      </div>
    </div>

    <div id='event' class='col-md-9'>
      {{#if model.recurrent}}
        <div class='well warning'>
          <span class='glyphicon glyphicon-warning-sign'></span>
          {{t 'event.is-recurrent'}}
        </div>
      {{/if}}
      <div class='well'>
        <div class='row head'>
          <div class='col-xs-12 col-md-6'>
            <h3>{{model.title}}</h3>
            {{#unless model.recurrent}}
              <div class='margin-top'>
                {{#fb-share tagName="a" url=eventUrl}}
                  <img class='fb-logo' src='/assets/images/fb-share.png'>
                  <span class='fb-share'>{{t 'facebook-share'}}</span>
                {{/fb-share}}
              </div>
            {{/unless}}
          </div>
          <div class='col-xs-12 col-md-6'>
            {{event-details event=model}}
          </div>
        </div>
        <div class='row body'>
          <div class='infos col-xs-12 col-md-8'>
            <div class='short-description'>
             {{model.short_description}}
            </div>
            {{display-categories event=model}}
          </div>
          {{#unless model.recurrent}}
            <div class='col-xs-12 col-md-4 no-padding'>
              {{players-count event=model}}
            </div>
          {{/unless}}
        </div>

        {{#if model.description}}
          <div class='row description'>
            <div class='col-md-12'>
              {{model.description}}
            </div>
          </div>
        {{/if}}
      </div>

      {{#unless model.recurrent}}
        {{#if isAuthenticated}}
          <div class='well'>
            <form>
              {{validated-input label="label.comment" placeholder="placeholder.comment" value=message errors=errors.message}}

              <div class='align-right inline-block'>
                {{#if isMember}}
                  <div>
                    {{t 'comment.private'}}
                    {{input type="checkbox" checked=isPrivate}}
                  </div>
                {{/if}}

                {{dynamic-submit actionOnSubmit="comment"}}
              </div>
            </form>
          </div>
        {{/if}}

        {{#if displayPrivateComments}}
          <div>
            {{t 'comment.show-privates'}}
            {{input type="checkbox" checked=onlyPrivates}}
          </div>
        {{/if}}

        {{#if displayComments}}
          {{#if onlyPrivates}}
            {{comments-list isPrivate=true event=model isHost=isHost isModerator=isModerator}}
          {{else}}
            {{comments-list event=model isHost=isHost isModerator=isModerator}}
          {{/if}}
        {{/if}}
      {{else}}
        {{event-children event=model}}
      {{/unless}}
    </div>
  </div>
</div>

<div class='hidden-xs col-md-2'>
  {{infos-bar}}
</div>

{{#if displayTimeSlots}}
  <div id='time-slots'>
    <div id='time-slots-box' class='well big'>
      <div class='row'>
        <div class='col-md-11 date-survey'>
          {{t 'event.date-survey'}}
        </div>
        <div class='col-md-1'>
          <span {{action 'hide_time_slots'}} class="icon-remove hide-time-slots"></span>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='row time-slots-date'>
            <div class='col-md-2'></div>
            {{#each time_slots as |time_slot|}}
              <div class='col-md-2 center-text'>
                {{moment-format time_slot.begin_at 'DD/MM'}} {{t 'at'}} {{moment-format time_slot.begin_at 'HH:mm'}}
              </div>
            {{/each}}
          </div>
          {{#unless (or isHost isFlexibleMember)}}
            {{#if currentUser}}
              <div class='row'>
                <div class='col-md-2'>{{profile-link profile=currentUser.profile}}</div>
                {{#each time_slots as |time_slot|}}
                  <div class='col-md-2 center-text'>{{time-slot-checkbox time_slot=time_slot member=currentUser.profile class='time-slot-checkbox new'}}</div>
                {{/each}}
              </div>
            {{/if}}
          {{/unless}}
          {{#each time_slots_members as |member|}}
            <div class='row time-slot-member'>
              <div class='col-md-2'>{{profile-link profile=member}}</div>
              {{#each time_slots as |time_slot|}}
                <div class='col-md-2 center-text'>{{time-slot-checkbox time_slot=time_slot member=member class='time-slot-checkbox'}}</div>
              {{/each}}
            </div>
          {{/each}}
          {{#unless currentUser}}
            <div class='col-md-12 login-required'>
              <span>{{t 'event.login-required'}}</span>
              {{#link-to 'login' class='go-to-login'}}{{t 'navigation.login'}}{{/link-to}}
            </div>
          {{/unless}}
          {{#if isHost}}
            <div class='row choose-time-slot'>
              <div class='col-md-2'>{{t 'event.choose-time-slot'}}</div>
              {{#each time_slots as |time_slot|}}
                <div class='col-md-2 center-text'>
                  <span class='btn-green btn-xs' {{action "pick_time_slot" time_slot}}>{{t 'choose'}}</span>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div id='time-slots-box' class='well small'>
      <div class='row'>
        <div class='col-xs-10 date-survey'>
          {{t 'event.date-survey'}}
        </div>
        <div class='col-xs-2'>
          <span {{action 'hide_time_slots'}} class="icon-remove hide-time-slots"></span>
        </div>
      </div>

      <div class='time-slots-small'>
          {{#each time_slots as |time_slot|}}
            <div class='row slot'>
              <div class='col-xs-3'>
                {{time_slot.members_count}}
                <span class='icon-player'></span>
              </div>
              <div class='col-xs-7'>
                {{moment-format time_slot.begin_at 'DD/MM'}} {{t 'at'}} {{moment-format time_slot.begin_at 'HH:mm'}}
              </div>
              {{#if isHost}}
                <div class='col-xs-2'>
                  <span class='btn-green btn-xs' {{action "pick_time_slot" time_slot}}><span class='glyphicon glyphicon-ok'></span></span>
                </div>
              {{else if currentUser}}
                <div class='col-xs-2'>
                  {{time-slot-checkbox time_slot=time_slot member=currentUser.profile class='time-slot-checkbox new'}}
                </div>
              {{/if}}
            </div>
          {{/each}}
          {{#unless currentUser}}
            <div class='login-required-small'>
              <div>{{t 'event.login-required'}}</div>
              {{#link-to 'login' class='go-to-login'}}{{t 'navigation.login'}}{{/link-to}}
            </div>
          {{/unless}}
      </div>
    </div>
    <div id='shadow' {{action 'hide_time_slots'}}></div>
  </div>
{{/if}}
