<div class='col-lg-9'>
  <div class='well'>
    <div>{{model.title}}</div>
    <div>{{model.begin_at}}</div>
    <div>slots: {{model.capacity}}</div>
    <div>ambiance: {{model.ambiance}}</div>
    <div>level required: {{model.level}}</div>
    <div>category: {{model.category}}</div>

    {{#link-to 'event.edit'}}<button class="btn btn-success">Edit</button>{{/link-to}}
  </div>

  <div class='well'>
    <form>
      {{validated-input label="Comment" placeholder="Enter your comment" value=message errors=errors.message}}

      {{dynamic-submit actionOnSubmit="comment"}}
    </form>
  </div>

  {{#each model.comments as |comment|}}
    <div class='well'>
      {{comment.message}}
      <button {{action 'delete_comment' comment}} class="btn btn-danger">
        Delete comment
      </button>
    </div>
  {{/each}}
</div>

<div class='col-lg-3'>
  <div class='well'>Join this event</div>
  <div class='well'>
    <div>{{model.host.display_name}}</div>
    <div>{{model.host.short_description}}</div>
  </div>
</div>
