<div class='col-md-10'>
  <div class='row'>
    <div class='col-md-3'>
      {{#unless minCapacityReached}}
        <div class='min-capacity'>
          <span class='glyphicon glyphicon-warning-sign'></span>
          {{t 'event.min-attendee' min=model.min_capacity}}
        </div>
      {{/unless}}

      <div class='well'>
        {{#unless model.opened}}
          <div>{{t 'event.closed'}}</div>
        {{else if isHost}}
          {{#link-to 'event.edit'}}<button class="btn btn-warning">{{t 'event.edit'}}</button>{{/link-to}}
        {{else if pending}}
          <div>{{t 'event.submission.pending'}}</div>
          <div>
            <button {{action 'quit_event'}} class="btn btn-danger">
              Quit
            </button>
          </div>
        {{else if confirmed}}
          {{t 'event.submission.confirmed'}}
          <div>
            <button {{action 'quit_event'}} class="btn btn-danger">
              {{t 'event.quit'}}
            </button>
          </div>
        {{else if full}}
          <div>{{t 'event.full'}}</div>
        {{else}}
          <div>
            {{t 'event.join'}}
            {{dynamic-submit actionOnSubmit="join_event"}}
          </div>
        {{/unless}}
      </div>

      {{#if isHost}}
        <div class='well'>
          {{#if pendingSubmissions}}
            <b>{{t 'event.pending-submissions'}}</b>
            <div class='line-separator'></div>
          {{else}}
            {{t 'event.empty-pending-submissions'}}
          {{/if}}
          {{#each pendingSubmissions as |submission|}}
            <div class='pending-submission'>
              {{profile-link profile=submission.profile}}
              <div class="accept-submission">
                <button {{action 'accept_submission' submission}}>
                  {{t 'event.accept'}}
                </button>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}

      <div class='well'>
        <b>{{t 'event.host'}}</b>
        <div class='line-separator'></div>
        {{profile-link profile=model.host}}
        <div>{{model.host.short_description}}</div>
        {{#unless displayHostContact}}
          {{#if confirmed}}
            <div class="host-contact">
              <button {{action 'display_host_contact'}}>
                <span class='glyphicon glyphicon-envelope'></span>
                <span class='glyphicon glyphicon-earphone'></span>
              </button>
            </div>
          {{/if}}
        {{/unless}}
        {{#if displayHostContact}}
          <div>
            <i>{{model.host.contact.email}}</i>
            <i>{{model.host.contact.phone_number}}</i>
          </div>
        {{/if}}
      </div>

      <div class='well'>
        <b>{{t 'event.count' attendees-count=model.attendees.length capacity=model.capacity}}</b>
        {{#if model.attendees}}
          <div class='line-separator'></div>
        {{/if}}
        {{#each model.attendees as |attendee|}}
          <div class='attendee'>
            {{attendee-display attendee=attendee isHost=isHost}}
          </div>
        {{/each}}
      </div>

      <div class='well'>
        <b>{{t 'event.location'}}</b>
        <div class='line-separator'></div>
        <div>{{model.street}}</div>
        <div>{{model.postcode}}, {{capitalize model.city}}</div>
        {{#g-map lat=model.latitude lng=model.longitude zoom=14 as |context|}}
          {{g-map-marker context lat=model.latitude lng=model.longitude}}
        {{/g-map}}
      </div>
    </div>

    <div id='event' class='col-md-9'>
      <div class='well'>
        <div class='row head'>
          <div class='col-lg-6'>
            <h3>{{model.title}}</h3>
          </div>
          <div class='col-lg-6'>
            <div class="details">
              <div class="date">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{moment-format model.begin_at 'DD MMMM'}}
              </div>
              <div class="time">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{moment-format model.begin_at 'HH:MM'}}
              </div>
              <div class="place">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                {{capitalize model.city}}
              </div>
            </div>
          </div>
        </div>

        <div class='row body'>
          <div class='col-lg-9'>
            <div class='short-description'>
             {{model.short_description}}
            </div>
            {{display-categories event=model}}
          </div>
          <div class='col-lg-3'>
            <div class="attendees">
              <span>{{plus-one count=model.attendees_count}} / {{plus-one count=model.capacity}}</span>
            </div>
          </div>
        </div>

        {{#if model.description}}
          <div class='row description'>
            <div class='col-lg-12'>
              {{model.description}}
            </div>
          </div>
        {{/if}}
      </div>

      <div class='well'>
        <form>
          {{validated-input label="label.comment" placeholder="placeholder.comment" value=message errors=errors.message}}

          <div class='align-right inline-block'>
            {{#if isMember}}
              <div>
                {{t 'comment.private'}}
                {{input type="checkbox" checked=isPrivate}}
              </div>
            {{/if}}

            {{dynamic-submit actionOnSubmit="comment"}}
          </div>
        </form>
      </div>

      {{#if displayPrivateComments}}
        <div>
          {{t 'comment.show-privates'}}
          {{input type="checkbox" checked=onlyPrivates}}
        </div>
      {{/if}}

      {{#if onlyPrivates}}
        {{comments-list isPrivate=true event=model isHost=isHost}}
      {{else}}
        {{comments-list event=model isHost=isHost}}
      {{/if}}
    </div>
  </div>
</div>

<div class='col-md-2'>
  {{infos-bar}}
</div>
