<div class='well'>
  {{model.title}}
  {{model.begin_at}}
  {{model.capctity}}
  {{model.ambiance}}
  {{model.level}}
  {{model.category}}

  {{#link-to 'event.edit'}}<button class="btn btn-success">Edit</button>{{/link-to}}
</div>
