<div class='col-lg-9'>
  <div class='well'>
    <div>{{model.title}}</div>
    <div>{{model.begin_at}}</div>
    <div>slots: {{model.capacity}}</div>
    <div>ambiance: {{model.ambiance}}</div>
    <div>level required: {{model.level}}</div>
    <div>category: {{model.category}}</div>

    {{#if isHost}}
      {{#link-to 'event.edit'}}<button class="btn btn-success">Edit</button>{{/link-to}}
    {{/if}}
  </div>

  <div class='well'>
    <form>
      {{validated-input label="Comment" placeholder="Enter your comment" value=message errors=errors.message}}
      {{#if isMember}}
        {{validated-checkbox label="Private comment" value=isPrivate}}
      {{/if}}

      {{dynamic-submit actionOnSubmit="comment"}}
    </form>
  </div>

  {{#if isMember}}
    <button {{action 'toggle_private_comments'}} class="btn btn-success">
      Toggle all/private comments
    </button>
  {{/if}}

  {{#if showPrivates}}
    {{comments-list isPrivate=true event=model isHost=isHost}}
  {{else}}
    {{comments-list event=model isHost=isHost}}
  {{/if}}
</div>

<div class='col-lg-3'>
  <div class='well'>
    {{#if isHost}}
      Delete event
    {{else if pending}}
      <div>Your submission to this event in awaiting the host acceptance</div>
      <div>
        <button {{action 'quit_event'}} class="btn btn-danger">
          Quit
        </button>
      </div>
    {{else if confirmed}}
      You are attendee to this event
      <div>
        <button {{action 'quit_event'}} class="btn btn-danger">
          Quit
        </button>
      </div>
    {{else}}
      <div>
        Join event
        {{dynamic-submit actionOnSubmit="join_event"}}
        <!-- <button {{action 'join_event'}} class="btn btn-success">
          Join
        </button> -->
      </div>
    {{/if}}
  </div>

  <div class='well'>
    <div>Hosted by:</div>

    {{#link-to 'profile' model.host}}
      <div>{{model.host.display_name}}</div>
      <div>{{model.host.short_description}}</div>
    {{/link-to}}
  </div>

  <div class='well'>
    <div>Attendees:</div>

    {{#each model.attendees as |attendee|}}
      {{#link-to 'profile' attendee}}
        <div>{{attendee.display_name}}</div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
