<div class='col-md-10'>
  <div class='row'>
    <div class='col-md-3'>
      {{#unless minCapacityReached}}
        <div class='min-capacity'>
          <span class='glyphicon glyphicon-warning-sign'></span>
          {{t 'event.min-attendee' min=minPlayersCount}}
        </div>
      {{/unless}}

      <div class='well'>
        {{#unless model.opened}}
          <div>{{t 'event.closed'}}</div>
        {{else unless isHost}}
          {{#if pending}}
            <div>{{t 'event.submission.pending'}}</div>
            <div>
              <button {{action 'quit_event'}} class="btn btn-danger">
                {{t 'event.quit'}}
              </button>
            </div>
          {{else if confirmed}}
            {{t 'event.submission.confirmed'}}
            <div>
              <button {{action 'quit_event'}} class="btn btn-danger">
                {{t 'event.quit'}}
              </button>
            </div>
          {{else if full}}
            <div>{{t 'event.full'}}</div>
          {{else}}
            <div>
              {{dynamic-submit actionOnSubmit="join_event" submitLabel="event.join"}}
            </div>
          {{/if}}
        {{/unless}}

        {{#if isAbleToEdit}}
          {{#link-to 'event.edit'}}
            <div class="event-edit">{{t 'event.edit'}}</div>
          {{/link-to}}
          <div class="clearfix"></div>
          <div {{action 'delete_event'}} class="event-delete">
            {{t 'event.delete'}}
          </div>
        {{/if}}
      </div>

      {{#if isHost}}
        <div class='well'>
          {{#if pendingSubmissions}}
            <b>{{t 'event.pending-submissions'}}</b>
            <div class='line-separator'></div>
          {{else}}
            {{t 'event.empty-pending-submissions'}}
          {{/if}}
          {{#each pendingSubmissions as |submission|}}
            <div class='pending-submission'>
              {{profile-link profile=submission.profile}}
              <div class="accept-submission">
                <button {{action 'accept_submission' submission}}>
                  <span class='glyphicon glyphicon-ok'></span>
                </button>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}

      {{#if isAbleToInvite}}
        <div class='well'>
          <form>
            {{validated-textarea rows=3 label="label.invitation" placeholder="placeholder.invitation" value=email errors=errors.email}}
            {{#if emailSent}}
              <div class='email-sent'>{{t 'email-sent'}}</div>
            {{else if emailError}}
              <div class='email-error'>{{t 'email-error'}}</div>
            {{/if}}
            {{dynamic-submit actionOnSubmit="send_invitation"}}
          </form>
        </div>
      {{/if}}

      <div class='well'>
        <b>{{t 'event.host'}}</b>
        <div class='line-separator'></div>
        {{profile-link profile=model.host}}
        <div>{{model.host.short_description}}</div>
        {{#unless displayHostContact}}
          {{#if confirmed}}
            <div class="host-contact">
              <button {{action 'display_host_contact'}}>
                <span class='glyphicon glyphicon-envelope'></span>
                <span class='glyphicon glyphicon-earphone'></span>
              </button>
            </div>
          {{/if}}
        {{/unless}}
        {{#if displayHostContact}}
          <div>
            <i>{{model.host.contact.email}}</i>
            <i>{{model.host.contact.phone_number}}</i>
          </div>
        {{/if}}
      </div>

      <div class='well'>
        <b>{{t 'event.count' attendees-count=model.attendees.length capacity=model.capacity}}</b>
        {{#if model.attendees}}
          <div class='line-separator'></div>
        {{/if}}
        {{#each model.attendees as |attendee|}}
          <div class='attendee'>
            {{attendee-display attendee=attendee isHost=isHost}}
          </div>
        {{/each}}
      </div>

      <div class='well'>
        <b>{{t 'event.location'}}</b>
        <div class='line-separator'></div>
        <div>{{model.street}}</div>
        <div>{{model.postcode}}, {{capitalize model.city}}</div>
        {{#g-map lat=model.latitude lng=model.longitude zoom=14 as |context|}}
          {{g-map-marker context lat=model.latitude lng=model.longitude}}
        {{/g-map}}
      </div>
    </div>

    <div id='event' class='col-md-9'>
      <div class='well'>
        <div class='row head'>
          <div class='col-xs-12 col-md-6'>
            <h3>{{model.title}}</h3>
          </div>
          <div class='col-xs-12 col-md-6'>
            <div class="details">
              <div class="date">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{moment-format model.begin_at 'DD MMMM'}}
              </div>
              <div class="time">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{moment-format model.begin_at 'HH:mm'}}
              </div>
              <div class="place">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                {{capitalize model.city}}
              </div>
            </div>
          </div>
        </div>
        <div class='row social'>
          <div class='col-xs-12 col-md-6'>
            {{#fb-share tagName="a" url=eventUrl title=model.title}}
              <img class='fb-logo' src='/assets/images/fb-share.png'>
              <span class='fb-share'>{{t 'facebook-share'}}</span>
            {{/fb-share}}
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-md-8'>
            <div class='short-description'>
             {{model.short_description}}
            </div>
            {{display-categories event=model}}
          </div>
          <div class='col-xs-12 col-md-4'>
            <div class="attendees">
              <span class='capacity'>
                {{plus-one count=model.attendees_count}}
                /
                <span class='min-max'>
                  {{plus-one count=model.min_capacity}}
                  {{t 'to'}}
                  {{plus-one count=model.capacity}}
                  <span class='icon-player'></span>
                </span>
              </span>
            </div>
          </div>
        </div>

        {{#if model.description}}
          <div class='row description'>
            <div class='col-md-12'>
              {{model.description}}
            </div>
          </div>
        {{/if}}
      </div>

      {{#if isAuthenticated}}
        <div class='well'>
          <form>
            {{validated-input label="label.comment" placeholder="placeholder.comment" value=message errors=errors.message}}

            <div class='align-right inline-block'>
              {{#if isMember}}
                <div>
                  {{t 'comment.private'}}
                  {{input type="checkbox" checked=isPrivate}}
                </div>
              {{/if}}

              {{dynamic-submit actionOnSubmit="comment"}}
            </div>
          </form>
        </div>
      {{/if}}

      {{#if displayPrivateComments}}
        <div>
          {{t 'comment.show-privates'}}
          {{input type="checkbox" checked=onlyPrivates}}
        </div>
      {{/if}}

      {{#if onlyPrivates}}
        {{comments-list isPrivate=true event=model isHost=isHost isModerator=isModerator}}
      {{else}}
        {{comments-list event=model isHost=isHost isModerator=isModerator}}
      {{/if}}
    </div>
  </div>
</div>

<div class='hidden-xs col-md-2'>
  {{infos-bar}}
</div>
