<div class='col-md-6 col-md-offset-3 well'>
  {{#if success}}
    <div class='center-text'>
      <div class='success'>{{t 'email-reset-sent'}}</div>
      <hr>
      {{#link-to 'index'}}
        <div class='btn btn-success'>{{t 'navigation.index'}}</div>
      {{/link-to}}
    </div>
  {{else}}
    <form>
      {{validated-input label="label.email" placeholder="placeholder.email" value=model.email serverErrors=model.errors.email errors=errors.model.email name="email"}}

      {{dynamic-submit actionOnSubmit="submit"}}
    </form>
  {{/if}}
</div>
