<div id='verify'>
  {{#if alreadyVerified}}
    {{t 'phone-number.already-verified'}}
  {{else if verified}}
    <span class='success'>{{t 'phone-number.verified'}}</span>
  {{else}}
    <form>
      {{t 'phone-number.token-received'}}
      <hr>
      <div class='row'>
        <div class='col-md-6'>
          {{validated-input placeholder="phone-number.enter-token" value=model.token class='input' serverErrors=model.errors.token errors=errors.model.token}}
        </div>
        <div class='col-md-6'>
          {{dynamic-submit actionOnSubmit="verify_phone_number"}}
        </div>
      </div>
    </form>
  {{/if}}
  <hr>
  {{#link-to 'account.verifications' class='goto'}}{{t 'navigation.verifications'}}{{/link-to}}
</div>
