<div id='policy' class='row'>
  <div class='well col-md-6 col-md-offset-3'>
    <h3>{{t 'policy.title'}}</h3>
    <div>{{t 'policy.description'}}</div>
    <hr>
    <h4>{{t 'policy.geolocation'}}</h4>
    <div>{{t 'policy.geolocation-description'}}</div>
    <hr>
    <h4>{{t 'policy.email'}}</h4>
    <div>{{t 'policy.email-description'}}</div>
    <hr>
    <h4>{{t 'policy.name'}}</h4>
    <div>{{t 'policy.name-description'}}</div>
    <hr>
    <h4>{{t 'policy.phone-number'}}</h4>
    <div>{{t 'policy.phone-number-description'}}</div>
    <hr>
    <h4>{{t 'policy.birthday'}}</h4>
    <div>{{t 'policy.birthday-description'}}</div>
  </div>
</div>
