<div id='profile' class='col-lg-6 col-lg-offset-3'>
  {{profile-display profile=model}}

  {{#each model.hosted_events as |event|}}
    {{#unless event.recurrent}}
      <div class="hit">
        {{#link-to 'event' event}}
          <div class='row head'>
            <div class='col-xs-12 col-md-6'>
              <h3 class='confirmed'>{{event.title}}</h3>
            </div>
            <div class='col-xs-12 col-md-6'>
              {{event-details event=event}}
            </div>
          </div>

          <div class='row body'>
            <div class='infos col-xs-12 col-md-6'>
              <div class='description'>
               {{event.short_description}}
              </div>
              {{display-categories event=event}}
            </div>
            <div class='col-xs-12 col-md-6'>
              {{players-count event=event}}
            </div>
          </div>
        {{/link-to}}
      </div>
    {{/unless}}
  {{/each}}
</div>
