<h2>Registration</h2>

<form>
  {{validated-input label="Email" placeholder="Enter email" value=model.email errors=model.errors.email showAllErrors=showErrors class="form-group"}}
  {{validated-input label="Firstname" placeholder="Enter firstname" value=model.first_name errors=model.errors.first_name showAllErrors=showErrors class="form-group"}}
  {{validated-input label="Lastname" placeholder="Enter lastname" value=model.last_name errors=model.errors.last_name showAllErrors=showErrors class="form-group"}}
  {{validated-input label="Password" placeholder="Enter password" type="password" value=model.password errors=model.errors.password showAllErrors=showErrors class="form-group"}}

  {{dynamic-submit actionOnSubmit="register"}}
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
