<div class='col-md-6 col-md-offset-3 well'>
  {{#if invalidToken}}
    <div class='center-text'>
      <div class='warning'>{{t 'invalid-token'}}</div>
      <hr>
      {{#link-to 'login'}}
        <div class='btn btn-success'>{{t 'navigation.login'}}</div>
      {{/link-to}}
    </div>
  {{else if success}}
    <div class='center-text'>
      <div class='success'>{{t 'new-password-updated'}}</div>
      <hr>
      {{#link-to 'login'}}
        <div class='btn btn-success'>{{t 'navigation.login'}}</div>
      {{/link-to}}
    </div>
  {{else}}
    <form>
      {{validated-input label="label.new-password" placeholder="placeholder.new-password" value=model.password serverErrors=model.errors.password errors=errors.model.password type="password"}}
      {{validated-input label="label.confirm-password" placeholder="placeholder.confirm-password" value=model.password_confirmation serverErrors=model.errors.password_confirmation errors=errors.model.password_confirmation type="password"}}


      {{dynamic-submit actionOnSubmit="submit"}}
    </form>
  {{/if}}
</div>
