<div id='search' class='col-md-10'>
  <div class='row'>
    <div class='col-md-3 well'>
      <div id="full" class="facet"></div>
      <hr>
      <div id="category" class="facet"></div>
      <hr>
      <div id="ambiance" class="facet"></div>
      <hr>
      <div id="level" class="facet"></div>
      <hr>
      <div id="auto-accept" class="facet"></div>
    </div>

    <div class='col-md-9'>
      <div id="search-input"></div>

      <div id="stats" class='hide'></div>

      <div id="hits" class='hide'></div>

      <div id="hits-list">
        {{#each model.result.hits as |event|}}
          <div class="hit">

            {{#link-to 'event' event.objectID}}
              <div class='row head'>
                <div class='col-xs-12 col-md-6'>
                  <h3>{{event.title}}</h3>
                </div>
                <div class='col-xs-12 col-md-6'>
                  <div class="details">
                    {{#if event.flexible}}
                      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                      {{t 'date-flexible-from'}}
                      {{moment-format event.begin_at_range.min 'DD MMMM'}}
                    {{else}}
                      <div class="date">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        {{moment-format event.begin_at 'DD MMMM'}}
                      </div>
                      <div class="time">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        {{moment-format event.begin_at 'HH:mm'}}
                      </div>
                    {{/if}}
                    <div class="place">
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                      {{capitalize event.city}} {{short-postcode postcode=event.postcode}}
                    </div>
                  </div>
                </div>
              </div>

              <div class='row'>
                <div class='col-xs-12 col-md-8'>
                  <div class='description'>
                   {{event.short_description}}
                  </div>
                  {{display-categories event=event}}
                  <div class='host'>
                    <span class='avatar-small'>
                      {{avatar-display profile=event.host}}
                    </span>

                    <span>{{name-display profile=event.host}}</span>
                  </div>
                </div>
                <div class='col-xs-12 col-md-4'>
                  <div class="attendees">
                    <span class='capacity'>
                      {{plus-one count=event.attendees_count}}
                      /
                      <span class='min-max'>
                        {{plus-one count=event.min_capacity}}
                        {{t 'to'}}
                        {{plus-one count=event.capacity}}
                        <span class='icon-player'></span>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            {{/link-to}}
          </div>
        {{else}}
          <p>{{t 'search.no-results'}}</p>
          <a href="/search">{{t 'search.clear'}}</a>
        {{/each}}
      </div>
      <div id="pagination"></div>
    </div>
  </div>
</div>

<div class='hidden-xs col-md-2'>
  {{infos-bar hide_events_nearby=true}}
</div>

<script type="text/html" id="hit-template"></script>
<script type="text/html" id="no-results-template"></script>
